<div class="jumbotron text-center">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Este repoitório foi criado para obtenção de aprendizado do Angular
    bem como também a obtenção de horas complementares. O   curso Angular foi ministrado pelo professor Hélio
    Kamakawa do IFPR de Paranavaí</p>
  <hr class="my-4">
  <p>O breve curso do professor Hélio tinha a finalidade de ensinar de uma
     maneira simples, os conceitos introdutório fundamentais do framework Angular.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/heliokamakawa" role="button">Hélio GitHub</a>
  </p>
</div>
